---
# Main scss file
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

// Helpers
@import
    'helpers/mixins',
    'helpers/variables';

// Base
@import
    'base/reset';

// Utilities
@import
    'utilities/layout',
    'utilities/seperator';

// Components
@import
    'components/page',
    'components/article',
    'components/tag',
    'components/archives';

// Vendor
@import
    'vendor/highlight';

.site-author{
  font-size: 2.4rem!important;
  margin: 0 !important;
  line-height: 1.5;
}
.site-description{
  font-size: 1.8rem!important;
  color: rgba(#163541, 0.6)!important;
  margin-bottom: 2.5rem;
}
.c-article__main{
  overflow: hidden;
}

.n-similar-posts{
  h4{
    font-size: 2rem;
    margin: 10rem 0 10px 0;
  }
}

.n-about-profile-picture{
  float: left;
  width: 150px;
  margin: 10px 25px 10px 0;
  img{
    border-radius: 150px;
  }
}

@media screen and (max-width: 768px){
  .n-about-profile-picture{
    float: none;
    margin: 5px auto 35px auto;
  }
}
