---
# Main scss file
---
@charset "utf-8";

// Helpers
@import
    'helpers/mixins',
    'helpers/variables';

// Base
@import
    'base/reset';

// Utilities
@import
    'utilities/layout',
    'utilities/seperator';

// Components
@import
    'components/page',
    'components/article',
    'components/tag',
    'components/archives';

// Vendor
@import
    'vendor/highlight';

.site-author{
  font-size: 2.4rem!important;
}
.site-description{
  font-size: 1.8rem!important;
  color: rgba(#163541, 0.6)!important;
}

.n-similar-posts{
  h4{
    font-size: 2rem;
    margin: 10rem 0 10px 0;
  }
}
