---
permalink: "/about/"
layout: about
sitemap:
  include: true
  priority: 0.7
  changefreq: monthly
redirect_from:
- "/cv_thiry_nicolas.pdf"
- "/resumes"
---

<div class="about_hero">
  <img src="{{site.baseurl}}/images/hero.jpeg" alt="Placeholder image">
</div>

<div class="about_listening">
  <i class="fas fa-volume-up"></i>
  <div class="about_listening_label">Currently listening</div>
  <div>
    <span class="about_listening_song"></span>
    <span class="about_listening_artist"></span>
  </div>
</div>

<section id="Description" class="row about_description">
  <div class="col-7 about_description--main">
    <p>I'm a front-end developer based in Lyon, France. I am devoted to create user-centered applications and to discover and learn as much as I can.</p>
  </div>
  <div class="col-4 about_description--alt">
    <p>Long time traveler, my parents moved around the world (Washington, Palo Alto, London, Dublin, Frankfurt, Paris and Annecy) and I have been used to discover new people, cultures and languages.</p>
  </div>
</section>

<section id="Skills" class="row about_skills">
  <div class="about_skills_cards">
    <div id="React" class="about_skills_cards_card about_skills_cards_card--react">
      <i class="fab fa-react"></i>
      <span>React</span>
    </div>
    <div id="JavaScript" class="about_skills_cards_card about_skills_cards_card--javascript">
      <i class="fab fa-js"></i>
      <span>JavaScript</span>
    </div>
    <div id="RubyOnRails" class="about_skills_cards_card about_skills_cards_card--ruby">
      <i class="far fa-gem"></i>
      <span>Ruby On Rails</span>
    </div>
  </div>

  <h6>React is the librairy I like working with the most, however I love to discover and learn new skills. I believe that a developer must not be restricted by a programming language, but it must adapt quickly to the needs and demands.</h6>

  <p>Making a list of what I know would not be relevant. If you are interested in knowing more, here is a list of my experiences with the skills that I have learned at each of them.</p>
</section>

<section id="Experiences" class="about_experiences">
    {% include about_experiences.html %}
</section>

<section id="Social" class="about_socials">
  {% include about_socials.html %}
</section>