---
layout: default
---

<div class="home">

  <h1 class="page-heading">Derniers Cours</h1>

  <ul class="post-list">
    {% for post in paginator.posts | limit: 6 %}
      <li class="post-item">
        {% if post.tag == "cours" %}
          <span class="octicon octicon-file-text post-file-type"></span>
          <div class="post-tag" style="background: #69c3dd;">{{ post.tag }}</div>
        {% else %}
          <span class="octicon octicon-file-code post-file-type"></span>
          <div class="post-tag" style="background: #f7ca2e;">{{ post.tag }}</div>
        {% endif %}

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
          {{ post.excerpt | strip_html | truncatewords:15 }}
        </p>
        {% if post.pdf %}
          <a class="post-file" href="{{ post.pdf | prepend: site.baseurl | prepend: '/files/' }}">{{ post.pdf }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous"><span class="octicon octicon-chevron-left"></span></a>
    {% else %}
      <span class="previous disabled"><span class="octicon octicon-chevron-left"></span></span>
    {% endif %}
    <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next"><span class="octicon octicon-chevron-right"></span></a>
    {% else %}
      <span class="next disabled"><span class="octicon octicon-chevron-right"></span></span>
    {% endif %}
  </div>

</div>
