---
title: Home
layout: page
sitemap:
  include: true
redirect_from:
- "/snava"
- "/sonianava"
- "/demo/demo.html"
- "/en/"
- "/blog/new-website"
- "/Nicolas"
- "/sonianava/advertising"
- "/sonianava/fashion"
- "/sonianava/entertainment"
- "/sonianava/branding"
- "/sonianava/lifestyle"
- "/snava/gallery/lifestyle"
---
<section class="featured">
    {% assign featured = site.posts | where: "listed", "true" | where: "featured", "true" | limit: 1 %}
    {% for post in featured  %}
        <div class="card-featured">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="card-featured_cover" style="background-image: url('{{site.baseurl}}/images/{{post.cover}}');"></div>
            </a>
            <div class="card-featured_content card_content--{{ post.category | split: ' ' | join: '-' }}">
                <span class="card_content_label">{{post.category}}</span>
                <h2 class="card-title card-featured_content_title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <p class="card-excerpt">{{ post.excerpt }}</p>
                <p class="card-date">{{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
        </div>
    {% endfor %}
</section>

<section class="profil">
    <figure class="profil_picture">
        <div class="profil_picture--box">
            <img src="{{site.baseurl}}/images/nicolas-thiry.png" alt="Nicolas Thiry">
        </div>
    </figure>
    <div class="profil_content">
        <h4 class="profil_content_position">Frontend Developper</h4>
        <h1 class="profil_content_name">Nicolas Thiry</h1>
        <h5 class="profil_content_company">Currently working at <strong>VeryUp</strong></h5>
        <p class="profil_content_description">Born in France from a german father and a french mother, I have been travelling since then. I had the opportunity to live in Germany, France and many english spoken countries, including the USA, England and Ireland. These allowed me to learn the english language and the culture of each of them in addition to German and French.</p>
        <p class="profil_content_description">Passionate by the web, I have learned as a self-taught person and in school the tools to be a successful web designer and developer. I am following new trends and eager to learn new technologies and platforms to help me improve my computing skills. My objective is to complete a Master degree in IT to start my professional career in Software Development, preferably linked to the Web environment.</p>
        <div class="profil_content_socials">
            <a target="_blank" href="https://www.instagram.com/{{ site.instagram_username }}"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
            <a target="_blank" href="https://dribbble.com/{{ site.dribbble_username }}"><i class="fab fa-dribbble"></i></a>
            <a target="_blank" href="https://open.spotify.com/user/113055016?si=jnZQy_8PTkS7MKwvQyO5SQ"><i class="fab fa-spotify"></i></a>
        </div>
    </div>
</section>


<section class="articles">
    {% assign posts = site.posts | where: "listed", "true" | where: "featured", "false" %}

    {% for post in posts  %}
        <div class="articles_item card card--{{ post.size }}">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="card_cover" style="background-image: url('{{site.baseurl}}/images/{{post.cover}}');"></div>
            </a>
            <div class="card_content card_content--{{ post.category | split: ' ' | join: '-' }}">
                <span class="card_content_label">{{post.category}}</span>
                <h3 class="card-title card_content_title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
                <p class="card-excerpt">{{ post.excerpt }}</p>
                <p class="card-date">{{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
        </div>
    {% endfor %}
</section>
