---
title: Home
layout: page
sitemap:
  include: true
redirect_from:
- "/snava"
- "/sonianava"
- "/demo/demo.html"
- "/en/"
- "/blog/new-website"
- "/Nicolas"
- "/sonianava/advertising"
- "/sonianava/fashion"
- "/sonianava/entertainment"
- "/sonianava/branding"
- "/sonianava/lifestyle"
- "/snava/gallery/lifestyle"
---
<section class="featured">
    {% assign featured = site.posts | where: "listed", "true" | where: "featured", "true" | limit: 1 %}
    {% for post in featured  %}
        <div class="card-featured">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="card-featured_cover" style="background-image: url('{{site.baseurl}}/images/{{post.cover}}');"></div>
            </a>
            <div class="card-featured_content card_content--{{ post.category | split: ' ' | join: '-' }}">
                <span class="card_content_label">{{post.category}}</span>
                <h2 class="card-title card-featured_content_title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <p class="card-excerpt">{{ post.excerpt }}</p>
                <p class="card-date">{{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
        </div>
    {% endfor %}
</section>


<section class="articles">
    {% assign posts = site.posts | where: "listed", "true" | where: "featured", "false" %}

    {% for post in posts  %}
        <div class="articles_item card card--{{ post.size }}">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="card_cover" style="background-image: url('{{site.baseurl}}/images/{{post.cover}}');"></div>
            </a>
            <div class="card_content card_content--{{ post.category | split: ' ' | join: '-' }}">
                <span class="card_content_label">{{post.category}}</span>
                <h3 class="card-title card_content_title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
                <p class="card-excerpt">{{ post.excerpt }}</p>
                <p class="card-date">{{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
        </div>
    {% endfor %}
</section>
