<div class="about_socials_item about_socials_item--instagram">
    <i class="fab fa-instagram"></i>
    <div>
        <h6>Instagram</h6>
        <span>#picoftheday</span>
    </div>
</div>

<div class="about_socials_item about_socials_item--twitter">
    <i class="fab fa-twitter"></i>
    <div>
        <h6>Twitter</h6>
        <span>An obscur place I’m trying to get used to.</span>
    </div>
</div>

<div class="about_socials_item about_socials_item--github">
    <i class="fab fa-github"></i>
    <div>
        <h6>Github</h6>
        <span>Some of my work, most of it is private.</span>
    </div>
</div>

<div class="about_socials_item about_socials_item--dribbble">
    <i class="fab fa-dribbble"></i>
    <div>
        <h6>Dribbble</h6>
        <span>Design work I’m proud of.</span>
    </div>
</div>

<div class="about_socials_item about_socials_item--spotify">
    <i class="fab fa-spotify"></i>
    <div>
        <h6>Spotify</h6>
        <span>Discover nineteen.</span>
    </div>
</div>

<div class="about_socials_item about_socials_item--linkedin">
    <i class="fab fa-linkedin"></i>
    <div>
        <h6>LinkedIn</h6>
        <span>A more professional resume.</span>
    </div>
</div>