<div id="VeryUp" class="row about_experiences_item">
    <div class="col-4">
        <h4>VeryUp</h4>
        <h5>Front-end Developer</h5>
        <span>June 2017 - Today – Lyon</span>
    </div>
    <div class="col-8">
        <ul>
        <li>Development of an adaptive e-learning tool in <strong>AngularJS</strong>.</li>
        <li>Exporting reusable components to <strong>GitHub / NPM</strong>.</li>
        <li><strong>HTML & CSS</strong> integration.</li>
        <li><strong>SEO</strong> optimization.</li>
        </ul>
    </div>
</div>

<div id="PermiGo" class="row about_experiences_item">
    <div class="col-4">
        <h4>PermiGo</h4>
        <h5>Front-end Developer</h5>
        <span>Sept. 2015 - May 2017 – Lyon</span>
    </div>
    <div class="col-8">
        <ul>
        <li>Development of new features on PermiGo <strong>(Wordpress, Ruby on Rails)</strong>.</li>
        <li>Development of a new driving test tool called Codiko in <strong>React</strong>.</li>
        <li>Implementation of <strong>Spina CMS</strong> for Codiko's landing page.</li>
        <li>Development of a new mobile app for Codiko with <strong>React Native</strong>.</li>
        <li><strong>SEO</strong> optimization.</li>
        </ul>
    </div>
</div>

<div id="UltimateWasher" class="row about_experiences_item">
    <div class="col-4">
        <h4>Ultimate Washer</h4>
        <h5>Junior Developer</h5>
        <span>Jun. 2015 - Aug. 2015 – Jupiter, Florida</span>
    </div>
    <div class="col-8">
        <ul>
        <li>Prototyping a new version of the website and it's new mobile design.</li>
        <li>Development of internal administration tools in ASP.Net MVC 6.</li>
        <li>Templating automation with a PHP scrapping script.</li>
        </ul>
    </div>
</div>

<div id="RocketInternet" class="row about_experiences_item">
    <div class="col-4">
        <h4>Rocket Internet</h4>
        <h5>Junior Developer</h5>
        <span>Jan. 2014 - Feb. 2014 – Paris</span>
    </div>
    <div class="col-8">
        <ul>
        <li>Development of a newsletter creation tool for automation of content comprised in customizable blocks, including product scrapping (images, ID, Price...).</li>
        <li>Implementation and training of CRM teams (central and across ventures in Africa).</li>
        <li>Creation of multiple static pages (HTML, CSS, Javascript) for products and promotions.</li>
        </ul>
    </div>
</div>