<footer class="c-page__footer">
    <p>&copy; {{ site.author }} {{ 'now' | date: '%Y' }}</p>
    <p class="n-footer-social">
      <span class="n-footer-social-label">Follow me</span>
      {% if site.twitter_username %}
      <a class="n-twitter" href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-twitter"></i>
      </a>
      <span class="u-seperate"></span>
      {% endif %}
      {% if site.github_username %}
      <a class="n-github" href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github"></i>
      </a>
      <span class="u-seperate"></span>
      <a class="n-dribbble" href="https://dribbble.com/{{ site.dribbble_username }}">
        <i class="fa fa-dribbble"></i>
      </a>
      <span class="u-seperate"></span>
      <a class="n-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
        <i class="fa fa-linkedin"></i>
      </a>
      <span class="u-seperate"></span>
      <a class="n-instagram" href="https://www.instagram.com/{{ site.instagram_username }}">
        <i class="fa fa-instagram"></i>
      </a>
      {% endif %}
    </p>
</footer>

<header class="cd-header">
  <a class="cd-primary-nav-trigger" href="#">
    <span class="cd-menu-icon"></span>
  </a> <!-- cd-primary-nav-trigger -->
</header>
<nav>
  <ul class="cd-primary-nav">
    <li class="cd-label">Navigation</li>
    <li class="n-cd-navigation">
      <p>
          <a href="{{ "/" | prepend: site.baseurl }}">Home</a><span class="u-seperate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
      </p>
    </li>
    <li class="cd-label">Categories</li>
    <li class="n-cd-categorie"><a href="/categories/react">React.js</a></li>

    <li class="cd-label">Featured readings</li>

    {% assign posts = site.posts | where: "featured", "true" %}
    {% for post in posts  %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
        {% if forloop.first %}
            <ul class="c-archives__list">
        {% endif %}
            <li class="c-archives__item">
                <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                <p>{{ post.date | date: "%b %-d, %Y" }}</p>
            </li>
        {% if forloop.last %}
            </ul>
        {% else %}
            {% if this_year != next_year %}
            </ul>
            <ul class="c-archives__list">
            {% endif %}
        {% endif %}
    {% endfor %}
  </ul>
</nav>
