<header class="c-page__header" itemscope itemtype="http://schema.org/Person">
    <div class="n-nav-brand"><a href="{{ "/" | prepend: site.baseurl }}"><img id="brand" src="/images/logo-md.png" alt="Nicolas Thiry" title="Nicolas Thiry" /></a></div>
    {% if page.title == 'Home' %}
      <h1 class="site-author" itemprop="name">{{ site.author }}</h1>
      <h2 class="site-description">
        Hi, my name is <a href="{{ "/" | prepend: site.baseurl }}" itemprop="name" class="n-header-h2-link">Nicolas Thiry</a> and I am a <span itemprop="jobTitle">front-developer</span>. This is my blog where you can read about everything I am working on.
        <br/><br/>
        I mainly work on Javascript projects using React.js and I love it and want to share my discoveries with you. However I am constantly following new trends and eager to learn new technologies.
      </h2>
    {% endif %}
</header>
