<header id="navigation" class="navbar" itemscope itemtype="http://schema.org/Person">
    <a href="#" class="navbar_menu">
        <div class="navbar_menu--bar-1"></div>
        <div class="navbar_menu--bar-2"></div>
    </a>
    <div class="navbar_logo"><a href="{{ "/" | prepend: site.baseurl }}"><img id="brand" src="/images/logo-md.png" alt="Nicolas Thiry" title="Nicolas Thiry" /></a></div>
</header>

<div id="sidebar" class="sidebar">
    <div class="sidebar_mask"></div>
    <aside class="sidebar_container">
        {% include sidebar.html %}
    </aside>
</div>
