<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en" />

    <title>{% if page.title == 'Home' %} Nicolas Thiry - Front-end developer {% else %}{% if page.title %}{% if page.tag %}#{% endif %}{{ page.title }} - {% endif %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:url" content="http://www.nicolasthy.xyz{{ page.url }}" />
    <meta property="og:type" content="{% if page.url == '/' %}website{% else %}article{% endif %}" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{% if page.image %}http://www.nicolasthy.xyz{{ page.baseurl }}/images/{{ page.image }}{% else %}http://www.nicolasthy.xyz{{ page.baseurl }}/images/{{ site.image }}{% endif %}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nicolasthy" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:image" content="{% if page.image %}http://www.nicolasthy.xyz{{ page.baseurl }}/images/{{ page.image }}{% else %}http://www.nicolasthy.xyz{{ page.baseurl }}/images/{{ site.image }}{% endif %}" />

    <meta name="google-site-verification" content="N7KxfwtjiqYSpxwEmpTRAyu7pFV4-eoeBFFcuyRTvto" />
    <meta name="google-site-verification" content="RC4UYhs5QDlsuZOQIfLrpat6kClDgHzNETz1ob4aT_Q" />
    <meta name="Publisher" content="Nicolas Thiry" />
    <meta name="robots" content="index, follow" />

    <link rel="alternate" href="http://www.nicolasthy.xyz{{ page.url }}" hreflang="en" />
    <link rel="alternate" href="http://www.nicolasthy.xyz{{ page.url }}" hreflang="fr" />

    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
</head>
