
/* ==========================================================================
   Mixins
   ========================================================================== */

// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin transition($duration, $type){
  transition: $duration $type;
  -webkit-transition: $duration $type;
  -moz-transition: $duration $type;
  -o-transition: $duration $type;
}

@mixin ff--code {
    font-family: 'Roboto Mono', monospace;
}

@mixin fs--code {
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
    padding: 10px;
}

@mixin categoryIcon($category) {
    @if $category == 'ruby' {
        color: #D95656;
        &:before { 
            content: '\f3a5'; 
            font-family: $font-family-icons;
        }
    } @else if $category == 'react' {
        color: #5693D9;
        &:before {
            content: '\f41b';
            font-family: $font-family-icons-brand;
        }
    } @else if $category == 'story' {
        color: #D99556;
        &:before {
            content: '\f10d';
            font-family: $font-family-icons;
            font-weight: 900;
        }
    }
}