
/* ==========================================================================
   Mixins
   ========================================================================== */

// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin transition($duration, $type){
  transition: $duration $type;
  -webkit-transition: $duration $type;
  -moz-transition: $duration $type;
  -o-transition: $duration $type;
}

@mixin ff--code {
    font-family: 'Roboto Mono', monospace;
}

@mixin fs--code {
    font-size: 1.4rem;
    line-height: 1.5;
    word-wrap: break-word;
    padding: 10px;
}