.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    &_item {
        min-height: 554px;
    }
}

.article {
    p, a, li {
        font-family: $font-family-content;
        font-size: 1.25rem;
        font-weight: $font-weight-base;
        line-height: 33px;
    }

    hr {
        margin: 50px auto;
        max-width: 300px;
    }

    &_header {
        &_cover {
            background-position: center 70%;
            background-size: cover;
            box-shadow: 0 15px 18px -12px rgba(17,17,17,0.40);
            margin: 0 0 50px;
            min-height: 525px;
            width: 100%;
        }

        &_content {
            margin: 120px auto 50px;
            max-width: 820px;
            text-align: center;

            > h1 {
                font-size: 3rem;
                font-weight: 700;
                line-height: 56px;
            }

            &_category, &_datetime {
                display: inline-block;
                margin: 0 10px;
            }

            &_category {
                font-size: 0.9rem;
                margin: 0;
                text-transform: uppercase;
    
                &:before { padding-right: 10px; }
    
                &--spina-cms, &--ruby { @include categoryIcon('ruby'); }
                &--react { @include categoryIcon('react'); }
                &--story { @include categoryIcon('story'); }
            }

            &_datetime {
                font-size: 0.9rem;
                font-family: $font-family-content;
                opacity: 0.7;

                &:before { 
                    content: "|"; 
                    margin: 0 10px;
                }
            }
        }
    }

    &_content {
        &_inner {
            h1, h2, h3, h4, h5, h6 {
                line-height: 1.04;
                max-width: 720px;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto;
            }

            h1 {
                margin-top: 39px;
            }

            h2 {
                margin-top: 56px;
            }

            p {
                margin: 8px auto 0;
                max-width: 720px;
            }

            > p:first-child:first-letter {
                float: left;
                font: 380%/1 $font-family-base;
                font-weight: 700;
                margin: -.06em .06em -.2em -.07em;
            }

            figure {
                margin: 8px auto 0;
                max-width: 720px;
            }

            ul {
                margin: 8px auto 0;
                max-width: 720px;
            }

            img {
                width: 100%;
            }
        }

        &_image {
            &--small {
                float: left;
                width: 40%;
                margin: 8px 18px;
            }

            &--cover {
                margin: 12px auto;
                max-width: 720px;
            }

            &--large {
                margin: 22px auto;
                max-width: 920px;
            }

            &--full {
                margin: 28px auto;
                max-width: 100%;
            }

            label {
                color: #9292A6;
                display: block;
                font-size: 0.8rem;
                text-align: center;
                margin: 0 0 12px;
            }
        }
    }

    &_footer {
        margin: 40px auto;
        max-width: 720px;

        &_comments {
            background: #F2F2F2;
            padding: 10px 35px 25px;
        }
    }
}