.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    &_item {
        min-height: 554px;
    }
}

.article {
    p, a, li {
        font-family: $font-family-content;
        font-size: 1.25rem;
        font-weight: $font-weight-base;
        line-height: 33px;
    }

    &_header {
        &_cover {
            width: 100%;
            margin: 0 0 50px;
        }

        &_category {
            font-size: 0.9rem;
            margin: 0;
            text-transform: uppercase;

            &:before { padding-right: 10px; }

            &--spina-cms, &--ruby { @include categoryIcon('ruby'); }
            &--react { @include categoryIcon('react'); }
        }

        &_title {
            display: block;
            font-size: 2.3rem;
            font-weight: 700;
            margin-top: 10px;
            // text-transform: uppercase;
        }
    }

    &_content {
        &_inner {
            max-width: 720px;
            margin: 0 auto;

            h1, h2, h3, h4, h5, h6 {
                line-height: 1.04;
            }

            h1 {
                margin: 39px 0 0;
            }

            h2 {
                margin: 56px 0 0;
            }

            p {
                margin: 8px 0 0;
            }

            img {
                width: 100%;
            }
        }
    }
}