.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0 40px;

    &--fixed {
        position: fixed;
        left: 0; right: 0;
    }

    &_logo {
        transition: .2s ease-in-out;

        img {
            padding: 20px 0 0;
            width: 70px;
        }

        &--large {
            img {
                width: 140px;
            }
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &_menu {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);

        ul {
            list-style: none;

            > li {
                padding: 0;
                margin: 0;
                display: inline-block;

                a {
                    color: $body-color;
                    
                    &:before, &:after {
                        display: inline-block;
                        opacity: 0;
                        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
                        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
                        transition: transform 0.3s, opacity 0.2s;
                    }

                    &:before {
                        margin-right: 10px;
                        content: '[';
                        -webkit-transform: translateX(20px);
                        -moz-transform: translateX(20px);
                        transform: translateX(20px);
                    }

                    &:after {
                        margin-left: 10px;
                        content: ']';
                        -webkit-transform: translateX(-20px);
                        -moz-transform: translateX(-20px);
                        transform: translateX(-20px);
                    }

                    &:hover:before, &:hover:after,
                    &:focus:before, &:focus:after {
                        opacity: 1;
                        -webkit-transform: translateX(0px);
                        -moz-transform: translateX(0px);
                        transform: translateX(0px);
                    }
                }
            }
        }
    }
}