.sidebar {
    &--opened {
        .sidebar {
            &_container {
                left: 0;
            }

            &_mask {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &_container {
        background: $body-color;
        color: #FFF;
        box-shadow: 0 15px 90px -5px rgba(17,17,17,0.4);
        position: fixed;
        top: 0; bottom: 0; left: -100%;
        z-index: 10;
        width: 85%;
        padding: 50px 40px;
        transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &_mask {
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 8;
        background: rgba(#FFF, 0.7);
        backdrop-filter: blur(1px);
        visibility: hidden;
        opacity: 0;
        transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
    }
}