---
layout: page
---

<style>
  a {
    {% if page.category == 'spina cms' %}
      color: #D95656;
    {% elsif page.category == 'ruby' %}
      color: #D95656;
    {% elsif page.category == 'react' %}
      color: #5693D9;
    {% elsif page.category == 'story' %}
      color: #D99556;
    {% else %}
      color: #D95656;
    {% endif %}
  }
</style>

<article class="article">
  <header class="article_header">
    {% if page.cover %}
      <div class="article_header_cover" style="background-image: url('{{site.baseurl}}/images/{{page.cover}}')"></div>
    {% endif %}

    <section>
      <h1 class="article_header_title">{{ page.title }}</h1>
      <div class="article_header_category article_header_category--{{ page.category | split: ' ' | join: '-' }}">
        {{ page.category }}
      </div>
      <p class="article_header_datetime">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      </p>
    </section>

    {% if page.warning %}
      <section>
          {{ page.warning }}
      </section>
    {% endif %}
  </header>

    <div class="article_content">
      <section class="article_content_inner">
        {{ content }}
      </section>
    </div>
    <footer class="article_footer">
      {% if page.comments %}
        <div class="article_footer_comments">
          {% include disqus.html %}
        </div>
      {% endif %}
    </footer>
</article>
